<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{movie/default}">

<head>
	<title layout:fragment="title"></title>
	<th:block layout:fragment="css"></th:block>
	<th:block layout:fragment="script"></th:block>
</head>	
<body>
	<div layout:fragment="main" id="main">
		<div id="section_top">
			<h3> 영화관람 24시간 내 작성된 후기</h3>
			<p> <a href="/movieMenu/reviewWrite"> 리뷰 작성</a></p>
		</div>
		
		<div id="section_middle">
			<table id="reviewList">
				<tr>
					<th class="num"> 번호</th>				
					<th class="title"> 제목 </th>
					<th class="date"> 작성일 </th>
				</tr>
				<!-- th:each="변수 : ${배열 또는 컬렉션}" -->
				<tr th:each="row : ${reviewList}">
					<td class="num" th:text="${row.review_id}"></td>
					<td class="title"><a th:href="@{'/movieMenu/view/'+${row.review_id}}" th:text="${row.title}"></a></td>
					<td class="date" th:text="${#temporals.formatISO(row.write_date, 'yyyy-MM-dd')}"></td>
				</tr>
			</table>
		</div>
		
		<div id="section_bottom">
			<div id="searchBox">
				<!-- 검색 박스 추가 구현 가능 -->
			</div>
		</div>
	</div>
</body>
</html>