@charset "UTF-8";

@charset "UTF-8";
/* default.css  */

*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
ul{ list-style: none;}

#wrap{
	width:800px;
	margin:0 auto;
}
#wrap h2{ padding:40px 0;}
#mainTitle{
	position:relative;
	width:100%;
	padding:10px 0;
}
#coffeEnroll{
	position:absolute;
	right:0;
	top:10px;
	text-decoration:none;
	color:inherit;
}
#coffeEnroll:hover{
	font-weight:800;
	color:blue;
}
#CoffeListWrap{
	padding:15px;
}
#CoffeList{
	width:100%;
}
#CoffeList .blist{
	display:flex;
	align-items:center;
	padding:15px 0;
	border-bottom:1px solid #ccc;
}
.coffename{ width:40%;}
.coffeprice{width:20%;}